body {
  margin: 0;
}

body,
.mapboxgl-map {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.popup h1 {
  font-size: 1.2em;
  max-width: 80%;
}

.popup ul {
  list-style: none;
  padding-left: 0;
}

.mapboxgl-popup-content {
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
  background-color: #333;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  top: 0.4em;
  right: 0.4em;
}

.mapboxgl-popup-close-button:hover {
  background-color: #888;
}

@media only screen and (max-width: 600px) {
  .mapboxgl-popup {
    position: absolute;
    top: initial;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    transform: none !important;
    max-width: none !important;
    will-change: initial !important;
    z-index: 3;
  }

  .mapboxgl-popup-content {
    height: 100%;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}
