body {
  margin: 0;
}

body,
.mapboxgl-map {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup h1 {
  font-size: 1.5em;
}

.popup ul {
  list-style: none;
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  .mapboxgl-popup {
    position: absolute;
    top: initial;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    transform: none !important;
    max-width: none !important;
    will-change: initial !important;
    z-index: 3;
  }

  .mapboxgl-popup-content {
    height: 100%;
  }
}
